---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Hero from "../components/Hero.astro";
import Appointment from "@components/Appointment.astro";
import Navbar from "@components/Navbar.astro";
import Marketing from "@components/Marketing.astro";
import Process from "@components/Process.astro";
import Goal from "@components/Goal.astro";
import WorldMarket from "@components/WorldMarket.astro";
import Partners from "@components/Partners.astro";
import Additional from "@components/Additional.astro";
import Contact from "@components/Contact.astro";
---

<style>
  .appointment {
    transition: all 0.3s ease-in-out;
  }

  .fixed {
    position: fixed;
    top: 0;
    z-index: 50;
    width: 100%;
  }
</style>

<Layout title="Welcome to Astro.">
  <main>
    <section class="fixed top-0 nav z-50 w-full">
      <Navbar />
    </section>

    <Hero />
    <section id="appointment" class="appointment">
      <Appointment />
    </section>
    <Marketing />
    <Process />
    <Goal />
    <WorldMarket />
    <Partners />
    <Additional />
    <Contact />
  </main>
</Layout>

<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", () => {
    // Ensure jQuery is ready

    const $section = $(".appointment");
    const $nav = $(".nav");
    const sectionOffsetTop = $section.offset().top;
    $(window).scroll(function () {
      const scrollTop = $(window).scrollTop();
      const sectionHeight = $section.outerHeight();

      if ($(window).scrollTop() >= sectionOffsetTop + sectionHeight) {
        $section.addClass("fixed");
        $nav.addClass("hidden");
      } else {
        $section.removeClass("fixed");
        $nav.removeClass("hidden");
      }
    });
  });
</script>
