---

---

<div
  class="grid grid-cols-1 md:grid-cols-2 grid-rows-1 justify-items-center gap-4 px-8 mt-12 md:mt-40 md:px-24 w-full"
>
  <div class="grid grid-cols-2 gap-4 order-2 md:order-1">
    <div class="flex flex-col gap-4 justify-center items-center">
      <!--?xml version="1.0" encoding="utf-8"?-->
      <svg
        version="1.1"
        id="Layer_1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        class="w-28"
        viewBox="0 0 122.879 88.855"
        enable-background="new 0 0 122.879 88.855"
        xml:space="preserve"
        ><g
          ><path
            d="M7.048,0h108.784c1.939,0,3.701,0.794,4.977,2.069c1.277,1.277,2.07,3.042,2.07,4.979v74.759 c0,1.461-0.451,2.822-1.221,3.951c-0.141,0.365-0.361,0.705-0.662,0.994c-0.201,0.189-0.422,0.344-0.656,0.461 c-1.225,1.021-2.799,1.643-4.508,1.643H7.048c-1.937,0-3.701-0.793-4.979-2.07C0.794,85.51,0,83.748,0,81.807V7.048 c0-1.941,0.792-3.704,2.068-4.979C3.344,0.792,5.107,0,7.048,0L7.048,0z M5.406,78.842l38.124-38.22L5.406,9.538V78.842 L5.406,78.842z M47.729,44.045L8.424,83.449h105.701L76.563,44.051L64.18,54.602l0,0c-0.971,0.83-2.425,0.877-3.453,0.043 L47.729,44.045L47.729,44.045z M80.674,40.549l36.799,38.598V9.198L80.674,40.549L80.674,40.549z M8.867,5.406l53.521,43.639 l51.223-43.639H8.867L8.867,5.406z"
          ></path></g
        ></svg
      >
      <h3 class="font-serif text-center text-xl">Responsive</h3>
      <p class="font-poppins text-center text-sm">
        We are always available via phone, text, or email.
      </p>
    </div>
    <div class="flex flex-col gap-4 justify-center items-center">
      <!--?xml version="1.0" encoding="utf-8"?-->
      <svg
        version="1.1"
        id="Layer_1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        class="w-28"
        viewBox="0 0 116.333 122.88"
        enable-background="new 0 0 116.333 122.88"
        xml:space="preserve"
        ><g
          ><path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M20.416,17.743c46.635-32.238,50.118,31.566,95.917-8.271v65.01 c-43.681,39.279-53.104-24.185-95.917,8.068V17.743L20.416,17.743z M8.898,0c4.915,0,8.899,3.986,8.899,8.898 c0,3.263-1.758,6.114-4.375,7.663h0.42v7.624v74.512v7.624h-0.42c2.617,1.549,4.375,3.574,4.375,7.662 c0,4.087-3.984,8.896-8.899,8.896c-4.914,0-8.898-4.81-8.898-8.896c0-4.088,1.757-6.113,4.374-7.662H3.955v-7.624V24.185v-7.624 h0.419C1.757,15.012,0,12.162,0,8.898C0,3.986,3.984,0,8.898,0L8.898,0z"
          ></path></g
        ></svg
      >
      <h3 class="font-serif text-center text-xl">Syndication</h3>
      <p class="font-poppins text-center text-sm">
        We market your property locally, nationally, and internationally
      </p>
    </div>
    <div class="flex flex-col gap-4 justify-center items-center">
      <svg
        id="Layer_1"
        data-name="Layer 1"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 122.88 118.2"
        class="w-28"
        ><defs
          ><style>
            .cls-1 {
              fill-rule: evenodd;
            }
          </style></defs
        ><title>home-address</title><path
          class="cls-1"
          d="M79.05,83.9A69.76,69.76,0,0,1,63.73,96.58a2.15,2.15,0,0,1-2.46.08A86.38,86.38,0,0,1,40,77.64C32.18,67.9,27.29,57.1,25.62,46.7c-1.7-10.55-.11-20.7,5.14-28.95A35.78,35.78,0,0,1,38.69,9C46.1,3.06,54.55-.06,63,0A34.23,34.23,0,0,1,86,9.41a34.35,34.35,0,0,1,6.15,7.49c5.64,9.3,6.86,21.16,4.38,33.18a73,73,0,0,1-17.52,33.8v0ZM25.32,75.19a3.59,3.59,0,1,1,0,7.17H18.58L9.71,111H112.92l-9.63-28.67H97.72a3.59,3.59,0,1,1,0-7.17h10.7l14.46,43H0l13.32-43ZM61.38,16.94,40.09,37.14l5,2.64L61.24,23.56,77.63,39.78l5-2.64L61.38,16.94ZM46.89,42.66h0L61.4,28.15,75.87,42.66h0V56.9H65.3v-10H57.37v10H46.89V42.66Z"
        ></path></svg
      >
      <h3 class="font-serif text-center text-xl">Virtual Tour</h3>
      <p class="font-poppins text-center text-sm">
        Let's make your home stand out with a high quality virtual tour.
      </p>
    </div>
    <div class="flex flex-col gap-4 justify-center items-center">
      <svg
        viewBox="0 0 100 100"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        aria-hidden="true"
        role="img"
        class="iconify iconify--gis w-28"
        preserveAspectRatio="xMidYMid meet"
        fill="#000000"
        ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
          id="SVGRepo_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"
          ><path
            d="M19.53 28.49a3.852 3.852 0 0 0-3.533 2.343C6.706 31.364-.029 32.257 0 32.955c.027.693 6.712.997 15.928.724c.32.862.936 1.58 1.738 2.027H16.17v2.742h-1.83a.874.874 0 0 0-.875.874v1.954c0 .483.391.874.874.874h12.316c3.103.73 3.45 1.843 5.774 3.88c-.38 2.113-.94 4.42-1.378 6.414v16.973a2.092 2.092 0 1 0 4.185 0V61.21c-.048-6.9 1.066-9.69 4.905-15.031l.965-.448c0 4.146 2.866 4.395 6.908 5.32h-3.036c-.924 0-1.674.75-1.674 1.675v10c0 .924.75 1.674 1.674 1.674h10.044c.924 0 1.674-.75 1.674-1.674v-10c0-.925-.75-1.674-1.674-1.674h-3.033c4.041-.928 6.905-1.176 6.905-5.321l.965.448c4.857 5.026 4.905 8.447 4.905 15.03v8.207a2.092 2.092 0 0 0 4.185 0V52.444c-.513-2.191-1.062-4.487-1.58-6.762c2.199-2.155 3.101-2.64 5.956-3.532h12.336a.874.874 0 0 0 .874-.874v-1.954a.874.874 0 0 0-.874-.874H83.83v-2.742h-1.496a3.852 3.852 0 0 0 1.738-2.027c9.216.273 15.901-.031 15.928-.724c.029-.698-6.706-1.59-15.997-2.122a3.852 3.852 0 0 0-6.943-.302c-9.307-.283-16.103.018-16.142.716c-.029.693 6.615 1.58 15.827 2.112a3.852 3.852 0 0 0 1.839 2.347h-1.496v2.742C67.654 38.426 60.352 33.685 50 33.49c-10.003.212-18.38 4.958-27.088 4.958v-2.742h-1.496a3.852 3.852 0 0 0 1.839-2.347c9.212-.532 15.856-1.42 15.827-2.112c-.039-.698-6.835-1-16.142-.716a3.852 3.852 0 0 0-3.41-2.04zM50 53.503c2.347 0 4.276 1.929 4.276 4.276c0 2.347-1.929 4.277-4.276 4.277c-2.347 0-4.278-1.93-4.278-4.277c0-2.347 1.93-4.276 4.278-4.276zm0 2.51c-.99 0-1.767.776-1.767 1.766s.777 1.766 1.767 1.766c.99 0 1.765-.776 1.765-1.766S50.99 56.013 50 56.013z"
            fill="#000000"></path></g
        ></svg
      >
      <h3 class="font-serif text-center text-xl">Drone Photography</h3>
      <p class="font-poppins text-center text-sm">
        Beautiful photography is a central part of our marketing plan for your
        property.
      </p>
    </div>
  </div>
  <div class="order-1 md:order-2">
    <img
      class="w-[70%] mx-auto"
      src="https://res.cloudinary.com/luxuryp/images/f_auto,q_auto/vxnwvueubpgtfzn1k3cs/edited-p25"
    />
  </div>
</div>
