---

---

<style>
  .services {
    cursor: pointer;
    overflow: hidden;

    .social_icon {
      position: relative;
      display: grid;
      justify-content: end;
      top: 350px;
      left: 0px;
      -webkit-transition: top 0.5s; /* For Safari 3.1 to 6.0 */
      transition: top 0.5s;
    }

    &:hover .social_icon {
      top: 150px;
    }
  }
</style>
<div class="my-8 px-4 md:px-24">
  <div class="md:px-24">
    <h1 class="font-serif text-center my-24 text-3xl">
      Comprehensive Marketing Plan
    </h1>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-24 justify-items-center">
      <div class="flex flex-col gap-4 justify-center items-center">
        <!--?xml version="1.0" encoding="utf-8"?-->
        <svg
          version="1.1"
          id="Layer_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          class="w-28"
          viewBox="0 0 122.879 88.855"
          enable-background="new 0 0 122.879 88.855"
          xml:space="preserve"
          ><g
            ><path
              d="M7.048,0h108.784c1.939,0,3.701,0.794,4.977,2.069c1.277,1.277,2.07,3.042,2.07,4.979v74.759 c0,1.461-0.451,2.822-1.221,3.951c-0.141,0.365-0.361,0.705-0.662,0.994c-0.201,0.189-0.422,0.344-0.656,0.461 c-1.225,1.021-2.799,1.643-4.508,1.643H7.048c-1.937,0-3.701-0.793-4.979-2.07C0.794,85.51,0,83.748,0,81.807V7.048 c0-1.941,0.792-3.704,2.068-4.979C3.344,0.792,5.107,0,7.048,0L7.048,0z M5.406,78.842l38.124-38.22L5.406,9.538V78.842 L5.406,78.842z M47.729,44.045L8.424,83.449h105.701L76.563,44.051L64.18,54.602l0,0c-0.971,0.83-2.425,0.877-3.453,0.043 L47.729,44.045L47.729,44.045z M80.674,40.549l36.799,38.598V9.198L80.674,40.549L80.674,40.549z M8.867,5.406l53.521,43.639 l51.223-43.639H8.867L8.867,5.406z"
            ></path></g
          ></svg
        >
        <h3 class="font-serif text-center text-xl">Responsive</h3>
        <p class="font-poppins text-center text-sm">
          We are always available via phone, text, or email.
        </p>
      </div>
      <div class="flex flex-col gap-4 justify-center items-center">
        <!--?xml version="1.0" encoding="utf-8"?-->
        <svg
          version="1.1"
          id="Layer_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          class="w-28"
          viewBox="0 0 116.333 122.88"
          enable-background="new 0 0 116.333 122.88"
          xml:space="preserve"
          ><g
            ><path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M20.416,17.743c46.635-32.238,50.118,31.566,95.917-8.271v65.01 c-43.681,39.279-53.104-24.185-95.917,8.068V17.743L20.416,17.743z M8.898,0c4.915,0,8.899,3.986,8.899,8.898 c0,3.263-1.758,6.114-4.375,7.663h0.42v7.624v74.512v7.624h-0.42c2.617,1.549,4.375,3.574,4.375,7.662 c0,4.087-3.984,8.896-8.899,8.896c-4.914,0-8.898-4.81-8.898-8.896c0-4.088,1.757-6.113,4.374-7.662H3.955v-7.624V24.185v-7.624 h0.419C1.757,15.012,0,12.162,0,8.898C0,3.986,3.984,0,8.898,0L8.898,0z"
            ></path></g
          ></svg
        >
        <h3 class="font-serif text-center text-xl">Syndication</h3>
        <p class="font-poppins text-center text-sm">
          We market your property locally, nationally, and internationally
        </p>
      </div>
      <div class="flex flex-col gap-4 justify-center items-center">
        <svg
          id="Layer_1"
          data-name="Layer 1"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 122.88 118.2"
          class="w-28"
          ><defs
            ><style>
              .cls-1 {
                fill-rule: evenodd;
              }
            </style></defs
          ><title>home-address</title><path
            class="cls-1"
            d="M79.05,83.9A69.76,69.76,0,0,1,63.73,96.58a2.15,2.15,0,0,1-2.46.08A86.38,86.38,0,0,1,40,77.64C32.18,67.9,27.29,57.1,25.62,46.7c-1.7-10.55-.11-20.7,5.14-28.95A35.78,35.78,0,0,1,38.69,9C46.1,3.06,54.55-.06,63,0A34.23,34.23,0,0,1,86,9.41a34.35,34.35,0,0,1,6.15,7.49c5.64,9.3,6.86,21.16,4.38,33.18a73,73,0,0,1-17.52,33.8v0ZM25.32,75.19a3.59,3.59,0,1,1,0,7.17H18.58L9.71,111H112.92l-9.63-28.67H97.72a3.59,3.59,0,1,1,0-7.17h10.7l14.46,43H0l13.32-43ZM61.38,16.94,40.09,37.14l5,2.64L61.24,23.56,77.63,39.78l5-2.64L61.38,16.94ZM46.89,42.66h0L61.4,28.15,75.87,42.66h0V56.9H65.3v-10H57.37v10H46.89V42.66Z"
          ></path></svg
        >
        <h3 class="font-serif text-center text-xl">Virtual Tour</h3>
        <p class="font-poppins text-center text-sm">
          Let's make your home stand out with a high quality virtual tour.
        </p>
      </div>
      <div class="flex flex-col gap-4 justify-center items-center">
        <!--?xml version="1.0" encoding="utf-8"?-->
        <svg
          version="1.1"
          id="Layer_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          class="w-28"
          viewBox="0 0 122.879 96.568"
          enable-background="new 0 0 122.879 96.568"
          xml:space="preserve"
          ><g
            ><path
              d="M5.535,15.447h98.221c1.527,0,2.891,0.62,3.883,1.611c0.99,0.991,1.611,2.396,1.611,3.882v70.134 c0,1.528-0.621,2.891-1.611,3.883c-0.082,0.082-0.166,0.165-0.289,0.247c-0.951,0.868-2.23,1.363-3.635,1.363H5.494 c-1.528,0-2.892-0.619-3.883-1.61S0,92.562,0,91.075V20.941c0-1.528,0.62-2.891,1.611-3.882s2.396-1.611,3.883-1.611H5.535 L5.535,15.447z M28.218,34.489c4.354,0,7.882,3.528,7.882,7.882s-3.528,7.883-7.882,7.883c-4.354,0-7.882-3.529-7.882-7.883 C20.335,38.018,23.864,34.489,28.218,34.489L28.218,34.489z M61.389,68.316l15.766-27.258l16.748,42.363l-78.165-0.001v-5.254 l6.57-0.327l6.567-16.093l3.282,11.496h9.855l8.537-22.004L61.389,68.316L61.389,68.316z M21.891,6.525 c-1.817,0-3.263-1.486-3.263-3.263C18.628,1.445,20.115,0,21.891,0h97.726c1.816,0,3.262,1.487,3.262,3.263v68.895 c0,1.818-1.486,3.264-3.262,3.264c-1.818,0-3.264-1.487-3.264-3.264V6.567H21.891V6.525L21.891,6.525z M102.723,21.974H6.567 v68.027h96.155V21.974L102.723,21.974z"
            ></path></g
          ></svg
        >
        <h3 class="font-serif text-center text-xl">Photography</h3>
        <p class="font-poppins text-center text-sm">
          Photography Beatiful, high-end photography is a central part of our
          marketing plan for your property.
        </p>
      </div>
    </div>

    <div
      class="flex flex-col justify-items-center mt-64 mx-auto w-full flex-wrap max-w-screen-3xl md:flex-row"
    >
      <div
        class="bg-black flex justify-center items-center p-12 w-full md:w-1/2"
      >
        <h2 class="text-3xl font-serif text-white font-semibold">
          Decor Guidance
        </h2>
      </div>
      <div
        class="services row-start-2 w-full md:w-1/2 aspect-video bg-cover bg-no-repeat bg-center bg-[url('https://res.cloudinary.com/luxuryp/images/w_1280,c_limit,f_auto,q_auto/ghtq7jtce7tsgdjtosrs/image-025')]"
      >
        <div class="social_icon pl-4 gap-2">
          <svg
            fill="#ffffff"
            class="size-8 p-1 border border-white hover:bg-[#888889]"
            viewBox="-3.2 -3.2 38.40 38.40"
            xmlns="http://www.w3.org/2000/svg"
            stroke="#ffffff"
            ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"
              ><path
                d="M21.95 5.005l-3.306-.004c-3.206 0-5.277 2.124-5.277 5.415v2.495H10.05v4.515h3.317l-.004 9.575h4.641l.004-9.575h3.806l-.003-4.514h-3.803v-2.117c0-1.018.241-1.533 1.566-1.533l2.366-.001.01-4.256z"
              ></path></g
            ></svg
          >
          <svg
            fill="#ffffff"
            class="size-8 p-1 border border-white hover:bg-[#888889]"
            viewBox="0 0 32 32"
            xmlns="http://www.w3.org/2000/svg"
            ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"
              ><path
                d="M11.919 24.94c-2.548 0-4.921-.747-6.919-2.032a9.049 9.049 0 0 0 6.681-1.867 4.512 4.512 0 0 1-4.215-3.137c.276.054.559.082.848.082.412 0 .812-.056 1.193-.156a4.519 4.519 0 0 1-3.622-4.425v-.059a4.478 4.478 0 0 0 2.042.564 4.507 4.507 0 0 1-2.008-3.758c0-.824.225-1.602.612-2.268a12.811 12.811 0 0 0 9.303 4.715 4.517 4.517 0 0 1 7.692-4.115 9.107 9.107 0 0 0 2.866-1.094 4.542 4.542 0 0 1-1.983 2.498 9.08 9.08 0 0 0 2.592-.71 9.283 9.283 0 0 1-2.252 2.337c.008.193.014.388.014.583-.001 5.962-4.542 12.843-12.844 12.842"
              ></path></g
            ></svg
          >
        </div>
      </div>
      <div
        class="services row-start-2 w-full md:w-1/2 aspect-video bg-cover bg-no-repeat bg-center bg-[url('https://res.cloudinary.com/luxuryp/images/w_1280,c_limit,f_auto,q_auto/axx0whb7xfmlwhvcckrr/image-023')]"
      >
        <div class="social_icon pl-4 gap-2">
          <svg
            fill="#ffffff"
            class="size-8 p-1 border border-white hover:bg-[#888889]"
            viewBox="-3.2 -3.2 38.40 38.40"
            xmlns="http://www.w3.org/2000/svg"
            stroke="#ffffff"
            ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"
              ><path
                d="M21.95 5.005l-3.306-.004c-3.206 0-5.277 2.124-5.277 5.415v2.495H10.05v4.515h3.317l-.004 9.575h4.641l.004-9.575h3.806l-.003-4.514h-3.803v-2.117c0-1.018.241-1.533 1.566-1.533l2.366-.001.01-4.256z"
              ></path></g
            ></svg
          >
          <svg
            fill="#ffffff"
            class="size-8 p-1 border border-white hover:bg-[#888889]"
            viewBox="0 0 32 32"
            xmlns="http://www.w3.org/2000/svg"
            ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"
              ><path
                d="M11.919 24.94c-2.548 0-4.921-.747-6.919-2.032a9.049 9.049 0 0 0 6.681-1.867 4.512 4.512 0 0 1-4.215-3.137c.276.054.559.082.848.082.412 0 .812-.056 1.193-.156a4.519 4.519 0 0 1-3.622-4.425v-.059a4.478 4.478 0 0 0 2.042.564 4.507 4.507 0 0 1-2.008-3.758c0-.824.225-1.602.612-2.268a12.811 12.811 0 0 0 9.303 4.715 4.517 4.517 0 0 1 7.692-4.115 9.107 9.107 0 0 0 2.866-1.094 4.542 4.542 0 0 1-1.983 2.498 9.08 9.08 0 0 0 2.592-.71 9.283 9.283 0 0 1-2.252 2.337c.008.193.014.388.014.583-.001 5.962-4.542 12.843-12.844 12.842"
              ></path></g
            ></svg
          >
        </div>
      </div>

      <div
        class="bg-white flex flex-col gap-8 justify-center items-center p-12 w-full md:w-1/2"
      >
        <h2 class="text-3xl font-serif text-black font-semibold">
          My Staging Expertise
        </h2>
        <ul class="list-disc font-poppins leading-loose text-sm text-black">
          <li>Unclutter and organize your home</li>
          <li>Neatly arrange drawers and cabinets</li>
          <li>Keep pets outdoors or off the premises</li>
          <li>Play soft music</li>
        </ul>
      </div>
      <div
        class="bg-black flex justify-center items-center p-12 w-full md:w-1/2"
      >
        <h2 class="text-3xl capitalize text-white font-semibold">
          Intentional ​​​​​​​Layout
        </h2>
      </div>
      <div
        class="services row-start-2 w-full md:w-1/2 aspect-video bg-cover bg-no-repeat bg-center bg-[url('https://res.cloudinary.com/luxuryp/images/w_1280,c_limit,f_auto,q_auto/tvntwvzwsjyi3ndwtpux/image-022')]"
      >
        <div class="social_icon pl-4 gap-2">
          <svg
            fill="#ffffff"
            class="size-8 p-1 border border-white hover:bg-[#888889]"
            viewBox="-3.2 -3.2 38.40 38.40"
            xmlns="http://www.w3.org/2000/svg"
            stroke="#ffffff"
            ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"
              ><path
                d="M21.95 5.005l-3.306-.004c-3.206 0-5.277 2.124-5.277 5.415v2.495H10.05v4.515h3.317l-.004 9.575h4.641l.004-9.575h3.806l-.003-4.514h-3.803v-2.117c0-1.018.241-1.533 1.566-1.533l2.366-.001.01-4.256z"
              ></path></g
            ></svg
          >
          <svg
            fill="#ffffff"
            class="size-8 p-1 border border-white hover:bg-[#888889]"
            viewBox="0 0 32 32"
            xmlns="http://www.w3.org/2000/svg"
            ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"
              ><path
                d="M11.919 24.94c-2.548 0-4.921-.747-6.919-2.032a9.049 9.049 0 0 0 6.681-1.867 4.512 4.512 0 0 1-4.215-3.137c.276.054.559.082.848.082.412 0 .812-.056 1.193-.156a4.519 4.519 0 0 1-3.622-4.425v-.059a4.478 4.478 0 0 0 2.042.564 4.507 4.507 0 0 1-2.008-3.758c0-.824.225-1.602.612-2.268a12.811 12.811 0 0 0 9.303 4.715 4.517 4.517 0 0 1 7.692-4.115 9.107 9.107 0 0 0 2.866-1.094 4.542 4.542 0 0 1-1.983 2.498 9.08 9.08 0 0 0 2.592-.71 9.283 9.283 0 0 1-2.252 2.337c.008.193.014.388.014.583-.001 5.962-4.542 12.843-12.844 12.842"
              ></path></g
            ></svg
          >
        </div>
      </div>
      <div
        class="services row-start-2 w-full md:w-1/2 aspect-video bg-cover bg-no-repeat bg-center bg-[url('https://res.cloudinary.com/luxuryp/images/w_1280,c_limit,f_auto,q_auto/axx0whb7xfmlwhvcckrr/image-023')]"
      >
        <div class="social_icon pl-4 gap-2">
          <svg
            fill="#ffffff"
            class="size-8 p-1 border border-white hover:bg-[#888889]"
            viewBox="-3.2 -3.2 38.40 38.40"
            xmlns="http://www.w3.org/2000/svg"
            stroke="#ffffff"
            ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"
              ><path
                d="M21.95 5.005l-3.306-.004c-3.206 0-5.277 2.124-5.277 5.415v2.495H10.05v4.515h3.317l-.004 9.575h4.641l.004-9.575h3.806l-.003-4.514h-3.803v-2.117c0-1.018.241-1.533 1.566-1.533l2.366-.001.01-4.256z"
              ></path></g
            ></svg
          >
          <svg
            fill="#ffffff"
            class="size-8 p-1 border border-white hover:bg-[#888889]"
            viewBox="0 0 32 32"
            xmlns="http://www.w3.org/2000/svg"
            ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"
              ><path
                d="M11.919 24.94c-2.548 0-4.921-.747-6.919-2.032a9.049 9.049 0 0 0 6.681-1.867 4.512 4.512 0 0 1-4.215-3.137c.276.054.559.082.848.082.412 0 .812-.056 1.193-.156a4.519 4.519 0 0 1-3.622-4.425v-.059a4.478 4.478 0 0 0 2.042.564 4.507 4.507 0 0 1-2.008-3.758c0-.824.225-1.602.612-2.268a12.811 12.811 0 0 0 9.303 4.715 4.517 4.517 0 0 1 7.692-4.115 9.107 9.107 0 0 0 2.866-1.094 4.542 4.542 0 0 1-1.983 2.498 9.08 9.08 0 0 0 2.592-.71 9.283 9.283 0 0 1-2.252 2.337c.008.193.014.388.014.583-.001 5.962-4.542 12.843-12.844 12.842"
              ></path></g
            ></svg
          >
        </div>
      </div>
      <div
        class="bg-white flex font-serif flex-col gap-8 justify-center items-center p-12 w-full md:w-1/2"
      >
        <ul class="list-disc font-poppins text-sm leading-loose text-black">
          <li>Unclutter and organize your home</li>
          <li>Neatly arrange drawers and cabinets</li>
          <li>Keep pets outdoors or off the premises</li>
          <li>Play soft music</li>
        </ul>
      </div>
    </div>
  </div>
</div>
