---

---

<div class="mt-32 md:mt-48">
  <div
    class="flex items-center relative justify-center py-28 px-12 backdrop-brightness-50 bg-white/20 w-full bg-cover bg-no-repeat bg-center bg-[url('https://res.cloudinary.com/luxuryp/images/f_auto,q_auto/gihsg13plfsb8xfbzmlf/image-027')]"
  >
    <div class="absolute inset-0 bg-black opacity-50"></div>

    <div
      class="flex justify-center items-center px-4 flex-col max-w-screen-sm lg:max-w-screen-md xl:max-w-screen-lg lg:px-20 mx-auto"
    >
      <h1
        class="font-serif text-center text-white text-4xl font-medium mb-16 z-10"
      >
        The Selling Process
      </h1>
      <ol class="relative border-l-4 border-[#C7860C] leading-loose">
        <li class="mb-10 ml-6">
          <div
            class="absolute w-4 h-4 bg-white border-4 border-[#C7860C] rounded-full -left-[0.6rem]"
          >
          </div>
          <p
            class="absolute font-serif -left-[3rem] text-white text-lg md:text-2xl p-0 m-0 font-bold"
          >
            1
          </p>s
          <p class="font-bold text-white text-lg md:text-2xl mb-1">
            Initial Consultation & Planning
          </p>
        </li>
        <li class="mb-10 ml-6">
          <div
            class="absolute w-4 h-4 bg-white border-4 border-[#C7860C] rounded-full -left-[0.6rem]"
          >
          </div>
          <p
            class="absolute font-serif -left-[3rem] text-white text-lg md:text-2xl p-0 m-0 font-bold"
          >
            2
          </p>
          <p class="font-bold text-white text-lg md:text-2xl mb-1">
            Devise & Execute Marketing Plan
          </p>
        </li>
        <li class="mb-10 ml-6">
          <div
            class="absolute w-4 h-4 bg-white border-4 border-[#C7860C] rounded-full -left-[0.6rem]"
          >
          </div>
          <p
            class="absolute font-serif -left-[3rem] text-white text-lg md:text-2xl p-0 m-0 font-bold"
          >
            3
          </p>
          <p class="font-bold text-white text-lg md:text-2xl mb-1">
            Review Offers & Reach Agreement with Buyer
          </p>
        </li>
        <li class="mb-10 ml-6">
          <div
            class="absolute w-4 h-4 bg-white border-4 border-[#C7860C] rounded-full -left-[0.6rem]"
          >
          </div>
          <p
            class="absolute font-serif -left-[3rem] text-white text-lg md:text-2xl p-0 m-0 font-bold"
          >
            4
          </p>
          <p class="font-bold text-white text-2xl mb-1">
            Complete Transaction Process
          </p>
        </li>
        <li class="mb-10 ml-6">
          <div
            class="absolute w-4 h-4 bg-white border-4 border-[#C7860C] rounded-full -left-[0.6rem]"
          >
          </div>
          <p
            class="absolute font-serif -left-[3rem] text-white text-lg md:text-2xl p-0 m-0 font-bold"
          >
            5
          </p>
          <p class="font-bold text-white text-2xl mb-1">After - Sale Service</p>
        </li>
      </ol>
    </div>
  </div>
  <div
    class="flex items-center relative justify-center py-28 px-12 backdrop-brightness-50 bg-white/20 w-full bg-cover bg-no-repeat bg-center bg-[url('https://res.cloudinary.com/luxuryp/images/f_auto,q_auto/nhcjbdzbycjvfcks0nqe/image-004')]"
  >
    <div class="absolute inset-0 bg-black opacity-50"></div>

    <div
      class="flex justify-center items-center px-4 flex-col max-w-screen-sm lg:max-w-screen-md xl:max-w-screen-lg lg:px-20 mx-auto"
    >
      <h1
        class="font-serif text-center text-white text-4xl font-medium mb-16 z-10"
      >
        The Buying Process
      </h1>
      <ol class="relative border-l-4 border-[#C7860C] leading-loose">
        <li class="mb-10 ml-6">
          <div
            class="absolute w-4 h-4 bg-white border-4 border-[#C7860C] rounded-full -left-[0.6rem]"
          >
          </div>
          <p
            class="absolute font-serif -left-[3rem] text-white text-lg md:text-2xl p-0 m-0 font-bold"
          >
            1
          </p>
          <p class="font-bold text-white text-lg md:text-2xl mb-1">
            Initial Consultation & Planning
          </p>
        </li>
        <li class="mb-10 ml-6">
          <div
            class="absolute w-4 h-4 bg-white border-4 border-[#C7860C] rounded-full -left-[0.6rem]"
          >
          </div>
          <p
            class="absolute font-serif -left-[3rem] text-white text-lg md:text-2xl p-0 m-0 font-bold"
          >
            2
          </p>
          <p class="font-bold text-white text-lg md:text-2xl mb-1">
            Search for a Home & Get Pre-Approved
          </p>
        </li>
        <li class="mb-10 ml-6">
          <div
            class="absolute w-4 h-4 bg-white border-4 border-[#C7860C] rounded-full -left-[0.6rem]"
          >
          </div>
          <p
            class="absolute font-serif -left-[3rem] text-white text-lg md:text-2xl p-0 m-0 font-bold"
          >
            3
          </p>
          <p class="font-bold text-white text-lg md:text-2xl mb-1">
            Submit an Offer
          </p>
        </li>
        <li class="mb-10 ml-6">
          <div
            class="absolute w-4 h-4 bg-white border-4 border-[#C7860C] rounded-full -left-[0.6rem]"
          >
          </div>
          <p
            class="absolute font-serif -left-[3rem] text-white text-lg md:text-2xl p-0 m-0 font-bold"
          >
            4
          </p>
          <p class="font-bold text-white text-2xl mb-1">
            Complete Settlement Process
          </p>
        </li>
      </ol>
    </div>
  </div>
</div>

<script type="text/javascript">
  const counters = document.querySelectorAll(".value");
  const speed = 200;

  counters.forEach((counter) => {
    const animate = () => {
      const value = +counter.getAttribute("data-counter");
      const data = +counter.innerText;

      const time = value / speed;
      if (data < value) {
        counter.innerText = Math.ceil(data + time);
        setTimeout(animate, 1);
      } else {
        counter.innerText = value;
      }
    };

    animate();
  });
</script>
